:root {
	--md-primary: #d0bcff;
	--md-on-primary: #371e73;
	--md-primary-container: #f7f7f7;
	--md-on-primary-container: #0e1214;

	--md-secondary: #ccc2dc;
	--md-on-secondary: #332d41;
	--md-secondary-container: #4a4458;
	--md-on-secondary-container: #e8def8;

	--md-tertiary: #6c757d;
	--md-on-tertiary: #492532;
	--md-tertiary-container: #633b48;
	--md-on-tertiary-container: #ffd8e4;

	// /* Surface colors */
	--md-surface: #0e1214;
	--md-on-surface: #e6e0e9;
	--md-surface-variant: #49454f;
	--md-on-surface-variant: #cac4d0;

	// /* Surface container variants */
	// --md-surface-container-lowest: #0F0D13;
	--md-surface-container-low: #1f282c;
	--md-surface-container: #151b1e;
	--md-surface-container-high: #2b383e;
	--md-surface-container-highest: #38474f;

	// /* Additional colors */
	// --md-background: #141218;
	// --md-on-background: #E6E0E9;
	// --md-error: #F2B8B5;
	// --md-on-error: #601410;
	// --md-error-container: #8C1D18;
	// --md-on-error-container: #F9DEDC;
	--md-outline: #49454f;
	--md-outline-variant: #373239;
	// --md-inverse-surface: #E6E0E9;
	// --md-inverse-on-surface: #322F35;
	// --md-inverse-primary: #6750A4;
	// --md-scrim: #000000;
	// --md-shadow: #000000;
}

:root {
	--color-surface: #0f0f0f;
	--color-surface-low: #18181b;
	--color-surface-lower: #26272b;

	--color-surface-high: #292929;
	--color-surface-highest: #141414;

	--color-container: #131316;
	--color-container-high: #26272b;
	--color-container-highest: #3f3f46;

	--color-text: #f5f5f5;
	--color-text-low: #d6d6d6;
	--color-text-lower: #a3a3a3;
	--color-text-lowest: #a9a29d;

	--color-border: #1c1917;
	--color-border-variant: #292524;

	--color-border-form: #44403c;

	--color-primary: #e7c3d8;
}

body {
	background-color: var(--color-surface);
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@100..900&display=swap');
@import './tabler-icons-outline.css';

* {
	margin: 0;
	padding: 0;
	color: var(--color-text);
	font-family: 'Raleway', serif;
	font-optical-sizing: none;
	box-sizing: border-box;
}

.price-text {
	font-family: 'Lato', serif;
	font-style: normal;
}

:root {
	--z-index-menu: 50000;
	--z-index-nav-bg: 100000;
	--z-index-nav: 100001;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--md-surface-container-high);
	outline: 2px solid transparent;
	outline-offset: -2px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--md-surface-container-highest);
}

a {
	text-decoration: none;
}
